@font-face {
  font-family: "Ownglyph_StudyHard-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_StudyHard-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Ownglyph_StudyHard-Rg", sans-serif;
}
