* {
  padding: 0;
  margin: 0;
}

#board-title {
  font-size: 100px;
  margin-bottom: 30px;
  color: black;
}

#winnername {
  font-size: 50px;
  margin: 10px;
}

#board-background {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

* {
  padding: 0;
  margin: 0;
}

.square {
  border-radius: 20px;
  height: 170px;
  width: 170px;
  font-size: 130px;
  border: 0.5px solid black;
  background-color: whitesmoke;
  line-height: 170px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}
